body {
  margin: 0;
  padding: 0;
}

.carte__vignette, .fonctionnement__numero, .bienvenue__bouton, header .localisation__contenant, header .titre__site {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 120px;
}
header .titre__site {
  height: 50%;
  width: 100%;
  padding: 5px 0px 0px 0px;
  border-bottom: #d1d0d0 solid;
}
header .localisation__contenant {
  height: 50%;
  width: 100%;
  background-color: #e2e0e0;
}
header .localisation__description {
  padding-left: 5px;
}

.bienvenue {
  width: 100%;
  height: 280px;
  background-color: #f3f3f3;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0px;
}
.bienvenue__titre {
  width: 80%;
  margin: 30px 0px 0px 0px;
}
.bienvenue__description {
  width: 90%;
  margin: 0px 0px 20px 0px;
}
.bienvenue__bouton {
  margin: 0px 0px 40px 0px;
  border-radius: 30px;
  width: 65%;
  height: 50px;
  color: white;
  background-color: #9356DC;
  font-size: medium;
  box-shadow: 3px 6px 3px #e2e0e0;
  transform: scale(1);
  transition: all 300ms ease-in-out;
}
.bienvenue__bouton:hover {
  transform: scale(1.15);
  background-color: transparent;
  border: #9356DC solid;
  color: black;
}

.fonctionnement {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 20% 20% 20%;
  align-items: center;
  justify-items: start;
}
.fonctionnement__titre {
  margin: 20px;
  align-self: end;
}
.fonctionnement__contenant {
  grid-column: 1/2;
  width: 85%;
  height: 70px;
  background-color: #f3f3f3;
  border-radius: 25px;
  margin: 30px;
  display: grid;
  grid-template-columns: 10% 10% 80%;
  grid-template-rows: 1fr;
  align-items: center;
  box-shadow: -1px 3px 6px 1px #e2e0e0;
}
.fonctionnement__contenant:nth-child(2) {
  grid-row: 2/3;
}
.fonctionnement__contenant:nth-child(3) {
  grid-row: 3/4;
}
.fonctionnement__contenant:last-child {
  grid-row: 4/5;
}
.fonctionnement__numero {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: xx-small;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: 20px;
}
.fonctionnement__icone {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonctionnement__description {
  grid-column: 3/4;
  grid-row: 1/2;
}

.restaurant {
  border: none;
  width: 100%;
  height: 1200px;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 92%;
}
.restaurant__titre {
  grid-row: 1/2;
  padding-left: 20px;
  padding-top: 40px;
}
.restaurant__contenant {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.carte {
  width: 80%;
  height: 220px;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 30%;
}
.carte__image {
  width: 100%;
  height: 100%;
  position: relative;
}
.carte img {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  padding: 0px;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  object-position: 50% 50%;
}
.carte__vignette {
  position: absolute;
  top: 10%;
  left: 70%;
  width: 100px;
  height: 30px;
  background-color: #99E2D0;
  color: #446159;
  border-radius: 3px;
}
.carte__description {
  width: 100%;
  margin: 0px;
  grid-row: 2/3;
  background-color: white;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
  border-radius: 0px 0px 20px 20px;
}
.carte__nom {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 10px;
  margin-left: 15px;
  align-self: start;
}
.carte__localisation {
  grid-column: 1/2;
  margin-left: 15px;
  grid-row: 1/2;
  align-self: end;
  margin-bottom: 15px;
  color: #b9b8b8;
}
.carte__icone {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
  color: #646464;
}

.menu {
  height: 160px;
  background-color: #424242;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  color: white;
}
.menu__titre {
  margin: 10px 0px 10px 0px;
  font-size: large;
}
.menu__contenant {
  padding: 0px;
  margin: 0px;
}
.menu__onglet {
  display: flex;
  margin-top: 3px;
  align-items: center;
  width: 100%;
}
.menu__icone {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
